<html>

<body>


<!---Wrapper-->

  <div class="wrapper">


    <!---Header-->

    <header><h1>CCMG Newsletter</h1></header>
    <!---End of Header-->


    <!---Content-->
    <article>

      <h2><%= Newsletter.last.title %></h2>
      <blockquote>"Sign up for our Newsletter!"</blockquote>
      <p class="DropCap">
        <%= Newsletter.last.content %>

      </p>
    </article>
    <!---End of Content-->
  </div>
  <!---End of Wrapper-->




</body>

</html>
