    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Continuity Consulting Management Group</div>
                <div class="intro-heading">Grow Develop Sustain</div>
                <a href="pages/leadership" class="page-scroll btn btn-xl">Leadership</a>
                <a href="pages/core_values" class="page-scroll btn btn-xl">Our Core Values</a>
                <a href="pages/services" class="page-scroll btn btn-xl">Who We Work With</a>
            </div>
        </div>
    </header>
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Dedicated to assist Small Busineses, Governments, and Corporations achieve their goals.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Areas of Expertise</h4>
                    <p class="text-muted">A career with L.E.K. involves exposure to a wide range of industries and you’ll work with many of the world’s foremost companies and organizations. Join us and become part of a high-energy, fast-paced environment where you’ll dive deep, acquire domain knowledge quickly and be given ample opportunities to apply what you’ve learned to the real world.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Company Highlights</h4>
                    <p class="text-muted">When faced with slowing or competitive markets, executives often look overseas for international expansion opportunities. As a global firm, L.E.K. Consulting helps companies select markets for international growth. Take the first step in that journey with our new interactive international expansion map.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Company Profile</h4>
                    <p class="text-muted">When faced with the challenge of creating value, CCM is committed to results   <a href="pages/company_profile"> Read More </a>
</p>
                </div>
            </div>
        </div>
    </section>
