

<html>

<body>

<header id="top" class="main-header">
  <h2>CCS</h2>
  <h4>Continuum Consulting Services</h4>
</header>

<nav id="horizontal">
    <%=link_to 'About Us', pages_about_path%>
    <%=link_to 'Expertise',pages_government_path %>

</nav>
</body>

</html>