

<p>Our firm bridge market synergy and business opportunities between small

businesses, corporations, and government using dedicated professional

consultants.

</p>


<p>
CCMG values the diversity of talents and experience our consultants have to offer.

This unique diverse skillset enables cross functional sharing of knowledge base in

multiple industries. Our consultants have experience with small businesses,

corporate, and government with functional areas that includes management,

operations, marketing, financial planning and management, and products/services,

strategic planning, market strategies, training and development, program

design/development, procurement, construction management, program diversity

and minority business outreach services.
</p>

<p>
CCMG assess the organization and its leadership team carefully not excluding them

but including them in the assessment so that the root causes are identified and

properly addressed. Only then does CCMG develop strategies and road maps for

businesses to become high performers with confident leaders at the helm.
</p>

<p>
Angelo Principal Consultant/CEO

Angelo A. McBride, (LTC Ret), has over 25 years of experience in government serving in many

capacities and over 13 years working with businesses. He has led efforts to eliminate economic

disparity for minority businesses. Through innovative education and training, outreach efforts,

increased access to contracts and capital advocating for inclusive business relationships

between public and private sectors, Mr. McBride continue to accelerate the viability and

strategic growth of small businesses.
</p>
