  <p>
	CCMG's services are arrayed in three focus area: small businesses, corporate

services, and government. We work closely with small businesses to ensure market

penetration  or increase their position to effectively compete and sustain in the

market place. At the core of CCMG's focus is corporate clients. We help our

corporate clients obtain greater returns by providing quality business

support tailored to their specific needs. We assist governments with

developing and strengthening their disadvantaged businesses program to ensure

business inclusion and community economic growth initiatives are met.

  </p>


  <h2>Businesses Services Include:</h2>

  <li> Strategic Planning</li>

  <li> Executive Coaching and Development</li>

  <li> Pricing Strategy</li>

  <li> Profitability Improvement</li>

  <li> Sales and Marketing Planning</li>

  <li> Business Succession Planning</li>

  <li> Organizational Structure</li>

  <li> Operational Strategy and Process Improvement Plan</li>

  <li> Business Valuation and Exit Strategy</li>

  <li> Competitive Analysis</li>

  <li> Market Penetration</li>

  <li> Industry Profile/Potential</li>

  <li> Management Team Assessment</li>

  <li> Training and Development</li>

  <li> Readiness and Pre-qualification</li>

  <li> Capability Statement/Statement of Qualification</li>

  <li> Marketing Strategies to Reach Corporate Clients</li>

  <li> Support Throughout the Procurement/Contracting Process</li>

  <li> Public/Private Contract Opportunities</li>

  <li> Conducting Competitive Analyses</li>

  <li> Developing Revenue Models & Operations Strategies</li>

  <li> Joint-Ventures/Teaming Solutions</li>

  <li> M/W/DBE Certification Assistance</li>

  <li> Responding to RFPs/RFQ & Determining the Best fit</li>

  <li> Protesting Bids & Contract Awards</li>

  <li> Client Research Support Services</li>
