<h1>Corporate</h1>

<h3>Program Diversity</h3>

<ul>
	<li> Internal supplier diversity valuation, and policy development</li>

    <li>Diversity training, education, & development</li>

    <li> DBE/WBE/MBE program  development and review</li>

    <li> Develop Diversity Program Metrics and Goal Settings</li>

</ul>

<ul>

    <li>Public hearing/community forums</li>

    <li>Subcontract outreach and direct communication services</li>

    <li>Compliance reporting tools and processes</li>

    <li> Make the exact match</li>

    <li> Pre-qualification requirements</li>

    <li>Pre-bid meeting, bid opening, pre-construction meetings</li>

</ul>