

<h2>Financial Management Services</h2>

<li>Financial Statements</li>

<li>Monthly Income Statement/reporting Statement</li>

<li>Monthly Cash Flow Statements</li>

<li>Cash Flow Projections</li>

<li>Year End Balance Sheets</li>

<li>Financial Analysis</li>

<li>Year End Income Statement and Historical</li>

<li>Tax Planning</li>

<li>Year-end Close Out and Preparation for Tax Filing</li>

<li>Financial Systems Review and Integration</li>

<li>Financial and Accounting Services</li>

<li>Preparation for Audits</li>

<li>QuickBooks Training and Support Services</li>

<li>Bank Loan Presentations/Preparations</li>

<li>Budgeting</li>

<li>General Ledger Maintenance</li>

<li>Chart of Accounts</li>

<li>Cost Analysis and Controls</li>