<h2>Highlights and involvements</h2>

<li>International Economic Development Council

</li>

<li>International Conference of Shopping Centers</li>

<li>South Carolina Economic Developers’ Association</li>

<li>Implementing Tax Increment Financial District</li>

<li>Closing loan structures and grant agreements</li>

<li>Overseeing the development of minority businesses programs</li>

<li>Conceptualized relevant and complicated issues, developed action plans for resolutions</li>

establishing functional guidelines and procedures</li>

<li>Managing a logistics team with assets of $3 billion dollars</li>

<li>Established a 501 (c) (3) organization with a budget of $3.4 million dollars</li>

<li>Ensured performance measurements were captured for program assessments

determining its effectiveness</li>

<li>Evaluated programs for best practices and tailored programs to create value</li>