<h2>Knowledge Group</h2>

<p>
Mastermind Group is a group of dedicated professionals (membership based) with the

energy and excitement to succeed in business and willing to share their knowledge and

business experiences with each other. Participants set high standards, accountability,

maintain confidentiality, set goals and brainstorm ideas and best business practices.

Mastermind participants focus on business growth and sustainment.      

CCMG host monthly forums with carefully select business professionals, who are sincere

and committed to improving their business through a small group-a community of

knowledge. The knowledge group size is usually 6-10 members. The benefit is that each

gain from each other applying new skills to their business operations.

CCMG offers 2 levels of membership packages:
</p>

<p>
Monthly e-Communication (e-Com) with members in business for new startups -3

years. Depending on locations of members within 1 hour of each other, in person

group meeting will be scheduled to accommodate the group.

</p>

<h3>
Level I membership:
</h3>

 <li>One 60 minute group meeting once a month at a cost of $100</li>

<li> One 30 minute group meeting once a month at a cost of $50</li>

<p>
	 New participants (startups-3 years) will be interviewed one-on-one for approximately 30

minutes. The cost for initial consultations is $35

Topics would cover the five functional areas of businesses.

Bonus: Educational material valued at $150.

</p>

<p>
                        Total 7 Month at $1,085.00

      To join as a new member today at $135/month (first month)
</p>
  

<h2>Level II Membership:</h2>

<p>
Monthly e-Communication with seasoned members in business. Depending on

locations of members within 1 hour of each other, group meeting will be scheduled

to accommodate the group.

</p>

<li> One 60-90 minute group meeting once a month at a cost of $225.

<li> One 45-60 minute group meeting once a month at a cost of $155.

  <p>
 New Participants (3-10 years in business) will be interviewed one-on-one for

approximately 45 minutes. The cost for initial consultations is $45.
  </p>

<p>
Topics would cover the five functional areas of businesses.

Bonus: Business resources plus educational material valued at $400.
</p>

  <p>
                     Total 7 Month at $2,705.00

     To join as a new member today at $270/month
  </p>