  <h2>Angelo Principal Consultant/CEO</h2>


  <p>

      Angelo A. McBride, (LTC Ret), has over 25 years of experience in government serving in many

  capacities and over 13 years working with businesses. He has led efforts to eliminate economic

  disparity for minority businesses. Through innovative education and training, outreach efforts,

  increased access to contracts, and nurturing partnerships between public and private sectors,

  Mr. McBride continue to accelerate the viability and strategic growth of small businesses.

</p>

