<h3>Government</h3>

​​
  <ul>
	<li>Analyze government procurement processes</li>



    <li>Reviewing and developing processes and programs that impacts minority</li>

	<li>businesses to increase participation in the procurement process</li>

	<li> Recommend economic development strategies and appropriate tools that</li>

	<li>facilitates a thriving community</li>
	</ul>