
<h3>Minority Program Outreach</h3>
<div>
  <ul>
    <li> Public hearing/community forums</li>

    <li> Subcontract outreach and direct communication services</li>

    <li> Compliance reporting tools and processes</li>

    <li> Make the exact match</li>

    <li> Pre-qualification requirements</li>

    <li> Pre-bid meeting, bid opening, pre-construction meetings</li>

  </ul>
</div>

<div>
<h5>At our core, we provide consultation on the five functional areas of businesses:</h5>


<h5>Management, operations, marketing, finance, and products/services</h5>

</div>

<div>

<h3> Businesses Services</h3>

  <ul>
    <li>Strategic Planning</li>

    <li>Executive Coaching and Development</li>

    <li>Pricing Strategy</li>

    <li>Profitability Improvement</li>

    <li>Sales and Marketing Planning</li>

    <li> Business Succession Planning</li>

    <li> Organizational Structure</li>

    <li> Operational Strategy and Process Improvement Plan</li>

    <li> Business Valuation and Exit Strategy</li>

    <li> Competitive Analysis</li>

    <li> Market Penetration</li>

    <li> Industry Profile/Potential</li>

    <li> Management Team Assessment</li>

    <li> Training and Development</li>

    <li> Readiness and Prequalification</li>

    <li> Capability Statement/Statement of Qualification</li>

    <li> Marketing Strategies to Reach Corporate Clients</li>

    <li> Support Throughout the Procurement/Contracting Process</li>

    <li> Public/Private Contract Opportunities</li>

    <li> Conducting Competitive Analyses</li>

    <li> Developing Revenue Models & Operations Strategies</li>

    <li> Joint-Ventures/Teaming Solutions</li>

    <li> M/W/DBE Certification Assistance</li> 

    <li> Responding to RFPs/RFQ & Determining the Best fit</li>

    <li> Protesting Bids & Contract Awards</li>

    <li> Client Research Support Services</li>

  </ul>
</div>

<div></div>
<h3>Financial Management Services</h3>
   <ul>
	<li>Financial Statements</li>

    <li>Monthly Income Statement/reporting Statement</li>

     <li> Monthly Cash Flow Statements</li>

     <li> Cash Flow Projections</li>

     <li> Year End Balance Sheets</li>

     <li> Financial Analysis</li>

     <li> Year End Income Statement and Historical</li>

     <li> Tax Planning</li>

     <li> Year-end Close Out and Preparation for Tax Filing</li>

     <li> Financial Systems Review and Integration</li>

     <li> Financial and Accounting Services</li>

     <li> Preparation for Audits</li>

     <li> QuickBooks Training and Support Services</li>

     <li> Bank Loan Presentations/Preparations</li>

     <li> Budgeting</li>

     <li> General Ledger Maintenance</li>

     <li> Chart of Accounts</li>

     <li> Cost Analysis and Controls</li>

   </ul>