


<div class="header">
  <div class="header-info">
    <div class="header-info-titles header-info-titles align-center">
            <h1 class="header-info">Welcome to CCM's Blog</h1>
    </div>
  </div>
</div>


<div id="wrapper">

  <div id="sidebar">
    <div class="content-wrapper">
      <nav class="rss-nav">
        
    <a href="//blog.hubspot.com/marketing" class="rss-nav__toggle rss-nav__title">Marketing</a>        
      
    <span class="rss-nav__toggle-btn">
         
            <img class="rss-nav__title-arrow rss-nav__title-arrow" src="//cdn2.hubspot.net/hub/53/file-1911987521-png/assets/blog.hubspot.com/images/arrow-down-white-b.png?t=1433259728470">
        
    </span>
</nav>
      <div class="content">
<div class="rss-feed__list"> 
<div class="rss-feed__list--dark-bg">

                                            <div class="span12 widget-span widget-type-rss_listing " style="" data-widget-type="rss_listing" data-x="0" data-w="12">
                                                <div class="cell-wrapper layout-widget-wrapper">
                                                    <span id="hs_cos_wrapper_module_14166017358993533" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rss_listing" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rss_listing">

<h3></h3>


    <div class="hs-rss-module feedreader_box">
    
       
    
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 7 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/content-marketing-in-europe-data" style="background-image: url(//cdn2.hubspot.net/hubfs/53/Europe_Blog_Image2.png?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/content-marketing-in-europe-data"><span>29 Revealing Statistics About Content Marketing in Europe [SlideShare]</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
       
    
    
    
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 13 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/optimize-forms-conversion" style="background-image: url(//cdn2.hubspot.net/hubfs/53/how-long-should-forms-be.jpeg?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/optimize-forms-conversion"><span>Form Length Isn't Everything: 3 Other Ways to Optimize Your Forms for Conversions</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
        <div class="hs-rss-item  hs-with-featured-image hide-for-desktop"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 14 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/how-to-remove-background-image-in-powerpoint-design-ht" style="background-image: url(//cdn2.hubspot.net/hubfs/53/00-Blog-Related_Images/transparent-image-background.png?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/how-to-remove-background-image-in-powerpoint-design-ht"><span>How to Remove the Background of a Photo in Photoshop or PowerPoint</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 14 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/facebook-instant-articles-bad-for-marketers" style="background-image: url(//cdn2.hubspot.net/hubfs/53/00-Blog-Related_Images/facebook-instant-articles.png?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/facebook-instant-articles-bad-for-marketers"><span>Facebook Instant Articles: Bad for Marketers, OK for Publishers, but Great for Facebook</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 14 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/messy-office-posters" style="background-image: url(//cdn2.hubspot.net/hubfs/53/sad-poptart.jpg?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/messy-office-posters"><span>Sick of Dealing With a Messy Office? 10 Free Posters &amp; Badges to Help You Fight Back</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 14 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/social-media-crisis-management" style="background-image: url(//cdn2.hubspot.net/hubfs/53/SMCMP-BlogFeature2.png?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/social-media-crisis-management"><span>How to Create a Social Media Crisis Management Plan [Free Template]</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
        <div class="hs-rss-item  hs-with-featured-image"><span class="blog-feed__timestamp-blogname blog-feed__timestamp-blogname--marketing">marketing </span><p class="blog-feed__timestamp blog-feed__meta-info">/ 14 days ago</p><a class="blog-feed__picture" href="//blog.hubspot.com/marketing/blog-failing-change-perspective" style="background-image: url(//cdn2.hubspot.net/hubfs/53/dandelion-blowing.jpeg?t=1433174481862);"></a>
           <div class="hs-rss-item-text" style="opacity: 1;">
               <a class="hs-rss-title" href="//blog.hubspot.com/marketing/blog-failing-change-perspective"><span>Why Bloggers Abandon Their Blogs Too Early [Video]</span></a>
               <div class="hs-rss-byline">
                  
                      <span class="hs-rss-posted-at"></span> 
                  
               </div>
               
            </div>
           
               <div class="hs-rss-item-image-wrapper">
                    
               </div>
           
        </div>
    
    </div>

</span>
                                                </div><!--end layout-widget-wrapper -->
                                            </div><!--end widget-span -->
                                             
</div>
</div>
        <% @post.each do |post| %>
        <p>
            <%= post.title %>
        </p>
        <p>
            <%= post.created_at.strftime(' %b %d, %Y') %>
        </p>
           <% end %>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="section post-header">

            <p class="post-header__publish-date" data-postdate="2015-05-14 08:00:00">
                 May 14, 2015 // 8:00 AM 
            </p>


            <h2 class="post-header__title post-header__title--featured">
                <span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">How to Say "No" Without Burning Bridges</span>
            </h2>

            <p id="hubspot-author_data" class="hubspot-author__name" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author"><span class="hubspot-author__intro">Written by</span>
            
                <a class="hubspot-author__link" href="//blog.hubspot.com/marketing/author/joe-chernov">Joe Chernov</a> 
                     | @<a target="_blank" href="https://twitter.com/jchernov" class="hubspot-author__twitter-handle">jchernov</a> 
            
            </p>

           
    

            
        </div>
  <p><img src="//cdn2.hubspot.net/hub/53/hubfs/00-Blog_Thinkstock_Images/how-to-say-no.png?t=1433174481862&amp;width=761" alt="how-to-say-no.png" title="how-to-say-no.png" style="opacity: 1;" class="post-body__featured-image"></p>
    <p>You hear the term often in marketing. It basically means increasing results disproportionately to the time or effort previously required to achieve them. Companies like Dropbox and Airbnb are often held up as shining examples of marketing scale, which they accomplish by hardwiring user referral incentives into their products. Both parties benefit equally. Dropbox's users get more free storage and Airbnb's receive rental credits, and the companies drive down customer acquisition costs. Greater reach for fixed effort.
        <%#= Post.first.created_at.strftime(' %b %d, %Y') %>
    </p>
      <span>
        <%#= Post.first.title %>
      </span>
      <p>
       <%#= Post.first.body %>
      </p>
  </div><div style="clear:both"></div>

</div>

