

html {
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 45%, rgba(143,2,34,1) 100%);
  height: 100%;
}

nav {
  background-color: white;
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font: #41414;
  height: 60px;
  letter-spacing: 2.79999995231628px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 16px;
  text-decoration: none;

  a:hover {
    background-color: wheat;
  }

  a.padding {
  padding: 25px 50px;
  }
}

nav.logo {
  text-align: left;
  padding-left: 120px;
  padding-top: 5px;
}
