.body-welcome {
  background: none;
  padding: 0;
}
.body-welcome header {
  background: url(/assets/marketing-banner-125.jpg) no-repeat;
  background-size: cover;

}

html {
  background: #5c0404; /* Old browsers */
  background: -moz-linear-gradient(top,  #5c0404 0%, #fdbc06 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c0404), color-stop(100%,#fdbc06)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5c0404 0%,#fdbc06 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5c0404 0%,#fdbc06 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5c0404 0%,#fdbc06 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5c0404 0%,#fdbc06 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c0404', endColorstr='#fdbc06',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

a {
  text-decoration: none;

}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
nav {
  background-color: rgba(255,255,255,1);
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font: #41414;
  height: 60px;
  letter-spacing: 2.79999995231628px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 16px;
  text-decoration: none;
  a:hover {
    @include background(linear-gradient(red, wheat) left repeat);
  }

  a.padding {
  padding: 25px 50px;
  }
}

nav.logo {
  text-align: left;
  padding-left: 120px;
  padding-top: 5px;
}
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-xl {
  padding: 20px 40px;
  border-color: #fed136;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: #fdbc06; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdbc06 0%, #5c0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdbc06), color-stop(100%,#5c0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdbc06 0%,#5c0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdbc06 0%,#5c0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdbc06 0%,#5c0404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fdbc06 0%,#5c0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbc06', endColorstr='#5c0404',GradientType=0 ); /* IE6-9 */
  margin-right: 10px;
}
header .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-md-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left
}

.section-subheading,
.service-heading,
.text-muted  { color: #fff; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; }
.section-heading { color: #fff;font-familty: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 30px }

@media(min-width:768px) {
    header .intro-text {
        padding-top: 32px;
        padding-bottom: 49px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 75px;
    }
}
