html {
background-image: linear-gradient(to top, #c19e67, #e9d4b3);
height: 100%;
}

nav {
  text-align: center;
}

header {
  margin: 0px 0px 29px;
  padding-top: 24px;
  width: 196px;
  height: 60px;
  position: relative;
  left: 0px;
  padding-bottom: 60px;
}
h2, h4 {
  font-size: 22px;
  color: #ffffff;
}


p {
  font-size: 20px;
}

#horizontal {

}